<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="shortcut icon" href="{{ url_for('static', filename='image/favicon.ico') }}">

    {% assets "home_css" %}
      <link rel="stylesheet" href="{{ ASSET_URL }}">
    {% endassets %}

    {% assets "home_js" %}
      <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}

    {% block header %}
    {% endblock %}

    <title>
      {% block title %}
      {% endblock %}
    </title>

  </head>
  <body>
    {% block navbar %}
      {% if current_user.is_authenticated %} {# current_user refers to the object instance, is_authenticated refers to the class that returns true if the user is logged in #}
        <ul>
          <li><a href="{{ url_for('home')}}">Nextagram</a></li>
          <li><a href="{{ url_for('users.profile_page', username=current_user.username)}}">Profile</a></li>
          <li><a href="{{ url_for('sessions.setting')}}">Settings</a></li>
          <li><a href="{{ url_for('users.profile_image_upload')}}">Profile Image</a></li>
          <li><a href="{{ url_for('images.new')}}">Images</a></li>
          <li><a href="{{ url_for('payments.new')}}">Donate</a></li>
          <li><a href="{{ url_for('sessions.logout')}}">Logout</a></li>
        </ul>
      {% else %}
        <ul>
          <li><a href="{{ url_for('home')}}">Nextagram</a></li>
          <li><a href="{{ url_for('sessions.new')}}">Log In</a></li>
          <li><a href="{{ url_for('sessions.google_login')}}">Log In via Google</a></li>
          <li><a href="{{ url_for('users.new')}}">Sign Up</a></li> {# in html, you need to state specifically with with view function you're referring to with a '.' #}
        </ul>
      {% endif %}
    {% endblock %}


    {% block content %}
    {% endblock %}
    <footer>
      Made with &hearts; at <a target="_blank" href="https://www.nextacademy.com/?utm_source=github&utm_medium=student-challenge&utm_campaign=flask-nextagram">NEXT Academy</a>
    </footer>
  </body>
</html>
